html {
    @apply bg-theme-14;
    &.dark {
        @apply bg-dark-2;
        body {
            @apply text-gray-300;
            *,
            ::before,
            ::after {
                @apply border-dark-3;
            }
        }
    }
    body {
        -webkit-font-smoothing: antialiased;
        @apply overflow-x-hidden overflow-y-hidden font-roboto text-sm text-gray-800;
    }
}

/* select 要素のスタイルを追加 */
select {
    background-color: white; // 背景色を白に設定
    -webkit-appearance: none; // iOS Safariのデフォルトスタイルをリセット
    -moz-appearance: none; // Firefoxのデフォルトスタイルをリセット
    appearance: none; // デフォルトスタイルをリセット
    padding: 0 0.5em; // 内側の余白を追加（必要に応じて調整）
    height: 32px;
    border-radius: 4px; // 角丸にする（必要に応じて調整）
    box-sizing: border-box;
}

/* form要素の共通スタイル */
@media (max-width: 640px) {
    .original-form {
        font-size: 0.7rem; /* 画面サイズがsm以下の場合のフォントサイズ */
    }
    .original-label {
        width: 40%; /* Tailwind CSSのw-2/5に相当する幅 */
    }
    .original-value {
        width: 60%; /* Tailwind CSSのw-2/5に相当する幅 */
    }
}

/* input要素の共通スタイル */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="email"] {
  // background-color: white; // 背景色を白に設定
  border-radius: 4px; /* 角丸にする */
  height: 32px;
  box-sizing: border-box; /* パディングとボーダーを含む */
}

.multiselect input[type="text"] {
    background-color: initial;
    border-radius: initial;
    height: auto;
    box-sizing: initial;
}

.alert li {
    font-size: 0.7rem;
}

@media (max-width: 768px) {
    .btn-mobile {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.4rem;
      padding-right: 0.4rem;
      font-size: 0.6rem;
    }
  }

/*カスタムスクロールバーのスタイル*/
/* スクロールバー全体のスタイル */
.custom-scrollbar {
    overflow-x: scroll;
  }
  /* WebKit (Chrome, Safari, Edge) 用スタイル */
.custom-scrollbar::-webkit-scrollbar {
    height: 6px; /* 横スクロールバーの高さ */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05); /* スクロールバーの背景 */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* スクロールバーのつまみ部分 */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3); /* ホバー時の色 */
}

/* Firefox 用スタイル */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.05);
}